<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="7eba5675-8c73-4692-8e25-50299ff71540" Publisher="CN=Creator" Version="0.1.0.0" />
  <mp:PhoneIdentity PhoneProductId="7eba5675-8c73-4692-8e25-50299ff71540" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>BeanExplorer</DisplayName>
    <PublisherDisplayName>Jens Elstner</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="BeanExplorer.WindowsPhone.App">
      <m3:VisualElements DisplayName="Bean Explorer" Square150x150Logo="Assets\Logo.png" Square44x44Logo="Assets\SmallLogo.png" Description="Allows you to communicate with your PunchThrough Bean devices." ForegroundText="light" BackgroundColor="transparent">
        <m3:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\Square71x71Logo.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" />
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <m2:DeviceCapability Name="bluetooth.genericAttributeProfile">
      <m2:Device Id="any">
        <m2:Function Type="serviceId:a495ff10-c5b1-4b44-b512-1370f02d74de" />
        <m2:Function Type="serviceId:a495ff11-c5b1-4b44-b512-1370f02d74de" />
      </m2:Device>
    </m2:DeviceCapability>
  </Capabilities>
</Package>